<!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a class="active" href="/">
                          <i class="icon-home"></i>
                          <span>Inicio</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-user"></i>
                          <span>Investigador</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="../../frontend/template_content/index.html">Boxed Page</a></li>

                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-laptop"></i>
                          <span>Proyecto</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="agregarProyecto">Ingresar Nuevo Proyecto</a></li>

                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-key"></i>
                          <span>Seguridad</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ path('rol_index')}} ">Administrar Roles</a></li>
                          <li><a  href="{{ path('menu_index') }}">Administracion de Menus</a></li>
                            <li><a  href="{{ path('permiso_index') }}">Personalizar Asigancion</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-pencil"></i>
                          <span>Actividades </span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">Boxed Page</a></li>
                          <li><a  href="horizontal_menu.html">Horizontal Menu</a></li>

                      </ul>
                  </li>
            </ul>
          </div>
      </aside>
      <!--sidebar end-->
